In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/imdb-top-250-movies/movies.csv
/kaggle/input/imdb-top-250-movies/datasets/year.csv
/kaggle/input/imdb-top-250-movies/datasets/writters.json
/kaggle/input/imdb-top-250-movies/datasets/basic_movie_info.csv
/kaggle/input/imdb-top-250-movies/datasets/person_role_specific.csv
/kaggle/input/imdb-top-250-movies/datasets/basic_member_info.csv
/kaggle/input/imdb-top-250-movies/datasets/person_movie_specific.csv
/kaggle/input/imdb-top-250-movies/datasets/genre.json
/kaggle/input/imdb-top-250-movies/datasets/cast.json
/kaggle/input/imdb-top-250-movies/datasets/directors.json
/kaggle/input/imdb-top-250-movies/datasets/year.json
/kaggle/input/imdb-top-250-movies/datasets/members.csv

In [2]:
df = pd.read_csv('/kaggle/input/imdb-top-250-movies/movies.csv')

df.head(2)

,rank,id,name,year,imbd_votes,imdb_rating,certificate,duration,genre,cast_id,cast_name,director_id,director_name,writter_name,writter_id
0,1,tt0111161,The Shawshank Redemption,1994,2601152,9.3,A,142,Drama,"nm0000209,nm0000151,nm0348409,nm0006669,nm0000...","Tim Robbins,Morgan Freeman,Bob Gunton,William ...",nm0001104,Frank Darabont,"Stephen King,Frank Darabont","nm0000175,nm0001104"
1,2,tt0068646,The Godfather,1972,1796656,9.2,A,175,"Crime,Drama","nm0000008,nm0000199,nm0001001,nm0000473,nm0144...","Marlon Brando,Al Pacino,James Caan,Diane Keato...",nm0000338,Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola","nm0701374,nm0000338"

### 1. Sorting Values based on Duration

In [3]:
duration = []
for i in df['duration']:
    if ('Nan' != i):
        duration.append(int(i))
    else:
        duration.append(100)
    
df['duration'] = duration

df.sort_values(by = 'duration', ascending = False).head()

,rank,id,name,year,imbd_votes,imdb_rating,certificate,duration,genre,cast_id,cast_name,director_id,director_name,writter_name,writter_id
157,158,tt0031381,Gone with the Wind,1939,311407,8.2,U,238,"Drama,Romance,War","nm0000022,nm0000046,nm0593775,nm0641966,nm0450...","Clark Gable,Vivien Leigh,Thomas Mitchell,Barba...","nm0281808,nm0002030,nm0939992","Victor Fleming,George Cukor,Sam Wood","Margaret Mitchell,Sidney Howard,Oliver H.P. Ga...","nm0593565,nm0397608,nm0308177"
80,81,tt0087843,Once Upon a Time in America,1984,344833,8.3,A,229,"Crime,Drama","nm0000134,nm0000249,nm0001527,nm0001852,nm0001...","Robert De Niro,James Woods,Elizabeth McGovern,...",nm0001466,Sergio Leone,"Harry Grey,Leonardo Benvenuti,Piero De Bernardi","nm0340580,nm0073053,nm0207401"
94,95,tt0056172,Lawrence of Arabia,1962,289310,8.3,U,218,"Adventure,Biography,Drama","nm0000564,nm0000027,nm0000063,nm0370144,nm0001...","Peter O'Toole,Alec Guinness,Anthony Quinn,Jack...",nm0000180,David Lean,"Robert Bolt,Michael Wilson","nm0004122,nm0933858"
180,181,tt0052618,Ben-Hur,1959,236572,8.1,U,212,"Adventure,Drama,History","nm0000032,nm0370144,nm0000963,nm0361823,nm0341...","Charlton Heston,Jack Hawkins,Stephen Boyd,Haya...",nm0943758,William Wyler,"Lew Wallace,Karl Tunberg,Gore Vidal","nm0908753,nm0876562,nm0000683"
19,20,tt0047478,Shichinin no samurai,1954,340526,8.6,U,207,"Action,Drama","nm0001536,nm0793766,nm0875477,nm0793616,nm0297...","Toshirô Mifune,Takashi Shimura,Keiko Tsushima,...",nm0000041,Akira Kurosawa,"Akira Kurosawa,Shinobu Hashimoto,Hideo Oguni","nm0000041,nm0368074,nm0644823"

### 2. Sorting the movies based on Year

In [4]:
df.sort_values(by = 'year', ascending = False)

,rank,id,name,year,imbd_votes,imdb_rating,certificate,duration,genre,cast_id,cast_name,director_id,director_name,writter_name,writter_id
134,135,tt6710474,Everything Everywhere All at Once,2022,121919,8.3,R,139,"Action,Adventure,Comedy","nm0000706,nm3513533,nm0702841,nm0393222,nm0000...","Michelle Yeoh,Stephanie Hsu,Ke Huy Quan,James ...","nm3453283,nm3215397","Dan Kwan,Daniel Scheinert","Dan Kwan,Daniel Scheinert","nm3453283,nm3215397"
42,43,tt1745960,Top Gun: Maverick,2022,182091,8.6,UA,130,"Action,Drama","nm0000129,nm0000124,nm1886602,nm0000174,nm1506...","Tom Cruise,Jennifer Connelly,Miles Teller,Val ...",nm2676052,Joseph Kosinski,"Jim Cash,Jack Epps Jr.,Peter Craig","nm0143596,nm0258390,nm0185976"
122,123,tt10872600,Spider-Man: No Way Home,2021,659666,8.3,UA,148,"Action,Adventure,Fantasy","nm4043618,nm3918035,nm1212722,nm8188622,nm0269...","Tom Holland,Zendaya,Benedict Cumberbatch,Jacob...",nm1218281,Jon Watts,"Chris McKenna,Erik Sommers,Stan Lee","nm0571344,nm1273099,nm0498278"
245,246,tt15097216,Jai Bhim,2021,190981,8.9,A,164,"Crime,Drama,Mystery","nm1421814,nm7934649,nm8904193,nm8135195,nm0695...","Suriya,Lijo Mol Jose,Manikandan K.,Rajisha Vij...",nm4377096,T.J. Gnanavel,"T.J. Gnanavel,Rajendra Sapre","nm4377096,nm13222819"
113,114,tt8503618,Hamilton,2020,88720,8.4,12+,160,"Biography,Drama,History","nm0592135,nm5623883,nm1502434,nm0325989,nm4377...","Lin-Manuel Miranda,Phillipa Soo,Leslie Odom Jr...",nm2371802,Thomas Kail,"Lin-Manuel Miranda,Ron Chernow","nm0592135,nm2375857"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,115,tt0017136,Metropolis,1927,172188,8.3,Not Rated,153,"Drama,Sci-Fi","nm0375609,nm0002154,nm0297054,nm0459030,nm0003...","Brigitte Helm,Alfred Abel,Gustav Fröhlich,Rudo...",nm0000485,Fritz Lang,"Thea von Harbou,Fritz Lang","nm0902376,nm0000485"
182,183,tt0017925,The General,1926,90362,8.2,Passed,67,"Action,Adventure,Comedy","nm0000036,nm0533045,nm0147070,nm0267650,nm0089...","Buster Keaton,Marion Mack,Glen Cavender,Jim Fa...","nm0115669,nm0000036","Clyde Bruckman,Buster Keaton","Buster Keaton,Clyde Bruckman,Al Boasberg","nm0000036,nm0115669,nm0090213"
174,175,tt0015864,The Gold Rush,1925,110167,8.2,Passed,95,"Adventure,Comedy,Drama","nm0000122,nm0841501,nm0615306,nm0074788,nm0906...","Charles Chaplin,Mack Swain,Tom Murray,Henry Be...",nm0000122,Charles Chaplin,Charles Chaplin,nm0000122
193,194,tt0015324,Sherlock Jr.,1924,48939,8.2,Passed,45,"Action,Comedy,Romance","nm0000036,nm0570230,nm0444172,nm0175068,nm0186...","Buster Keaton,Kathryn McGuire,Joe Keaton,Erwin...",nm0000036,Buster Keaton,"Jean C. Havez,Joseph A. Mitchell,Clyde Bruckman","nm0369841,nm0593477,nm0115669"
128,129,tt0012349,The Kid,1921,125041,8.3,Passed,68,"Comedy,Drama,Family","nm0000122,nm0701012,nm0001067,nm0588033,nm0042...","Charles Chaplin,Edna Purviance,Jackie Coogan,C...",nm0000122,Charles Chaplin,Charles Chaplin,nm0000122

### 3. Finding the Unique Genre

In [5]:
gen = []
for i in df['genre']:
    gen += i.split(',')
    
genre = list(set(gen))

### 4. Finding the Movie Distribution in each Genre

In [6]:
data = []

for gen in genre:
    c = 0
    for i in df['genre']:
        if (gen in i):
            c += 1
    data.append([gen, c])
print(data)

[['Mystery', 31], ['Sci-Fi', 20], ['Musical', 1], ['Drama', 177], ['Horror', 6], ['War', 23], ['Animation', 23], ['Music', 5], ['Adventure', 59], ['Sport', 5], ['Fantasy', 16], ['Film-Noir', 4], ['Action', 49], ['Crime', 51], ['Biography', 29], ['Thriller', 30], ['Romance', 23], ['History', 10], ['Comedy', 47], ['Western', 6], ['Family', 13]]

### 5. Sort the Data

In [7]:
df_ = pd.DataFrame(data, columns = ['genre','freq'])
df_.sort_values('freq', ascending = False)

        genre  freq
3       Drama   177
8   Adventure    59
13      Crime    51
12     Action    49
18     Comedy    47
0     Mystery    31
15   Thriller    30
14  Biography    29
16    Romance    23
5         War    23
6   Animation    23
1      Sci-Fi    20
10    Fantasy    16
20     Family    13
17    History    10
4      Horror     6
19    Western     6
9       Sport     5
7       Music     5
11  Film-Noir     4
2     Musical     1

In [8]:
df_ = pd.DataFrame(data, columns = ['genre','freq'])

df_.sort_values('freq', ascending = False)
df_.to_csv('genre_dist.csv', index = False)

In [9]:
df_ = pd.read_csv('genre_dist.csv')

In [10]:
df_

        genre  freq
0     Mystery    31
1      Sci-Fi    20
2     Musical     1
3       Drama   177
4      Horror     6
5         War    23
6   Animation    23
7       Music     5
8   Adventure    59
9       Sport     5
10    Fantasy    16
11  Film-Noir     4
12     Action    49
13      Crime    51
14  Biography    29
15   Thriller    30
16    Romance    23
17    History    10
18     Comedy    47
19    Western     6
20     Family    13

Qn.1) Most Number of Movies by a Director
Qn.2) Most Number of Movies by a Actor
Qn.3) Least Number of Movies by a Director
Qn.4) Least Number of Movies by a Actor