In [43]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

link = 'https://www.imdb.com/chart/top/'

res = requests.get(link)
soup = BeautifulSoup(res.content, 'html.parser')

In [40]:
data = []

for sp in soup.find('tbody', class_ = 'lister-list').find_all('tr'):

  movie_link =  'https://www.imdb.com' +  sp.find('td', class_ = 'posterColumn').find('a').get('href')
  poster_link = sp.find('td', class_ = 'posterColumn').find('img').get('src')
  cast = sp.find('td', class_ = 'titleColumn').find('a').get('title')
  year = sp.find('td', class_ = 'titleColumn').find('span').text
  
  # print(movie_link)
  # print(poster_link)
  # print(cast)
  # print(year)

  # print('--')

  data.append([year,cast,movie_link,poster_link])

  # break

In [47]:
df = pd.DataFrame(data, columns = ['year','cast','movie_link','poster_link'])
df

,year,cast,movie_link,poster_link
0,(1994),"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",https://www.imdb.com/title/tt0111161/,https://m.media-amazon.com/images/M/MV5BMDFkYT...
1,(1972),"Francis Ford Coppola (dir.), Marlon Brando, Al...",https://www.imdb.com/title/tt0068646/,https://m.media-amazon.com/images/M/MV5BM2MyNj...
2,(2008),"Christopher Nolan (dir.), Christian Bale, Heat...",https://www.imdb.com/title/tt0468569/,https://m.media-amazon.com/images/M/MV5BMTMxNT...
3,(1974),"Francis Ford Coppola (dir.), Al Pacino, Robert...",https://www.imdb.com/title/tt0071562/,https://m.media-amazon.com/images/M/MV5BMWMwMG...
4,(1957),"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",https://www.imdb.com/title/tt0050083/,https://m.media-amazon.com/images/M/MV5BMWU4N2...
...,...,...,...,...
245,(1975),"Akira Kurosawa (dir.), Maksim Munzuk, Yuriy So...",https://www.imdb.com/title/tt0071411/,https://m.media-amazon.com/images/M/MV5BYWY0OW...
246,(1992),"Ron Clements (dir.), Scott Weinger, Robin Will...",https://www.imdb.com/title/tt0103639/,https://m.media-amazon.com/images/M/MV5BY2Q2ND...
247,(2011),"Tate Taylor (dir.), Viola Davis, Emma Stone",https://www.imdb.com/title/tt1454029/,https://m.media-amazon.com/images/M/MV5BMTM5OT...
248,(1999),"Brad Bird (dir.), Eli Marienthal, Harry Connic...",https://www.imdb.com/title/tt0129167/,https://m.media-amazon.com/images/M/MV5BYzBjZT...
249,(1982),"Richard Attenborough (dir.), Ben Kingsley, Joh...",https://www.imdb.com/title/tt0083987/,https://m.media-amazon.com/images/M/MV5BOGVmZG...

In [52]:
for link in df['movie_link']:

  res = requests.get(link)
  sp = BeautifulSoup(res.content, 'html.parser')

  print(sp.find('h1'))

  break

<h1 class="sc-b73cd867-0 eKrKux" data-testid="hero-title-block__title" textlength="6">刺激1995</h1>

In [54]:
df.to_csv('movies.csv', index = False)